html {
  height: 100%;
  width: 100%;
}
body {
  font-family: Tahoma, san-serif;
}
.little{
  width: 100px;


}
#big{
  width: 500px;
}
.part1 {
  color: rgb(255, 0, 0);
}
.part2 {
color: rgb(61, 43, 226);
}
.part3 {
  color: rgb(0, 255, 55);
}